:root {
  /* Font family*/
  --font-primary: "Kumbh Sans", sans-serif;

  /* Colors */
  --black: #000000;
  --background: #fffbff;
  --on-background: #201a18;
  --primary-color: #ea5959;
  --secondary-color: #525252;
  --placeholder-color: #b5b5b5;
  --form-bg-color: #f3f3f3;
  --line-color: #d8d8d8;
  --button-bg-color: var(--primary-color);
  --label-color: #5a5a5a;
  --delete-color: #ff0000;
  --favorites-color: #ffd700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--on-background);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px;
}
.sidebar .logo {
  font-size: 31px;
  font-weight: 700;
}
.sidebar .logo span {
  color: var(--primary-color);
}
.sidebar .category-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 250px;
  overflow-y: auto;
}
.sidebar .category-list li {
  display: flex;
  align-items: center;
  gap: 6px;
}
.sidebar .category-list button {
  font-size: 22px;
}
.sidebar .category-form {
  width: 100%;
  display: flex;
  gap: 16px;
  background-color: var(--form-bg-color);
  padding: 10px 16px;
  border-radius: 8px;
}
.sidebar .category-form input {
  border: none;
  outline: none;
  font-size: 20px;
  flex-grow: 1;
  background-color: inherit;
  font-size: 18px;
}
.sidebar .category-form:has(input:focus) {
  outline: auto;
}
.sidebar .category-form input::placeholder {
  color: var(--placeholder-color);
}
.sidebar .category-form button {
  color: var(--placeholder-color);
  font-size: 20px;
  background-color: inherit;
}
.line {
  display: block;
  background-color: var(--line-color);
  width: 1px;
  min-height: 100%;
}
.main {
  flex-grow: 1;
}
.main section {
  padding: 16px;
}
.main .title {
  font-size: 39px;
}
.main .task-form {
  margin: 25px auto 32px;
  width: 100%;
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}
.main .task-form input {
  font-size: 20px;
  background-color: var(--form-bg-color);
  border: transparent;
  padding: 10px 27px;
  border-radius: 8px;
  flex-grow: 5;
}
.main .task-form input::placeholder {
  color: var(--placeholder-color);
}
.main .task-form select {
  font-size: 20px;
  background-color: var(--form-bg-color);
  border: transparent;
  padding: 10px 27px;
  border-radius: 8px;
  flex-grow: 1;
  cursor: pointer;
}
.main .task-form button {
  font-size: 20px;
  background-color: var(--form-bg-color);
  border: transparent;
  padding: 10px 27px;
  flex-grow: 1;
  border-radius: 8px;
}
.main .task-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-height: 300px;
  overflow-y: auto;
}
.main .task-list li {
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.main .task-list li div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.main .task-list input {
  width: 28px;
  height: 28px;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.main .task-list input::before {
  content: url(./images/icon.png);
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}
.main .task-list input:checked::before {
  transform: scale(0.7);
}
.main .task-list input:checked + label {
  text-decoration: line-through;
  color: var(--primary-color);
}
.main .task-list label {
  font-size: 18px;
  cursor: pointer;
  color: var(--label-color);
}
.main .task-list select {
  border-radius: 4px;
  padding: 5px 20px;
  background-color: var(--button-bg-color);
  border: none;
  color: var(--background);
  font-size: 12px;
}
.main .task-list li div:nth-child(2) {
  display: flex;
  gap: 16px;
}
.main .task-list li div:nth-child(2) button {
  font-size: 20px;
}
.main .task-list .delete-button {
  color: var(--delete-color);
}
.main .task-list .favorites-button {
  color: var(--favorites-color);
}
@media (width < 1102px) {
  .sidebar{
    width: 100%;
  }
  .line {
    height: 1px;
    width: 100%;
  }
}
@media (width < 684px) {
  .main .task-list li:not(li:last-child){
    border-bottom: 1px solid  var(--line-color);
    padding-bottom: 20px;
  }
  .main .task-list li div:nth-child(1){
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .main .task-list li select{
    width: 100%;
  }
  .main .task-list input {
    display: none;
  }
}
